{% extends 'base.html' %}

{% block page_content %}
    <div class="col-lg-12 text-center">
        <div id="custom-search-input">
            <form method="POST" action="">
                {% csrf_token %}
                <div class="input-group col-md-12">
                    <textarea rows=10 name="textInput" class="form-control" placeholder="Enter your input text"></textarea>
                </div>
                <button class="col-md-12 btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>

    {% if data %} 
        <h1 id="resultHeader">Result</h1>
        <div class="col-lg-12" id="result">
            {% autoescape off %}
                {{ data }}
            {% endautoescape %}
        </div>
    {% endif %}
{% endblock page_content %}